* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'PT Sans';
    font-size: 1.3rem;
    color: #333;
    line-height: 1.6;
    margin: 0;
    background: rgb(47, 100, 121);
}

button {
    cursor: pointer;
}

button:disabled {
    cursor: default;
}